.home .title{
  font-size: 3rem;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  line-height: 1.2;
}

.subtitle{
  color: #454545;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 1.1ren;
}