<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/" class="alink">
        <i class="material-icons">
          home
        </i>
        <!-- Foi definido as rotas na app-routing-module.js e foi definido para cada um 
        onde iria iniciar, para a rota funcionar, foi referenciado como 
      routerLin aqui na parte de nav -->
        Início
      </a>
      <a mat-list-item routerLink="/product" class="alink" >
        <i class="material-icons">
          storefront
        </i>
        Produtos
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!--Router-outlet e a forma de navegar entre as "Páginas", no caso compones-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>