.sidenav{
  background-color: #87CEFA	;
  width: 200px;

}

.alink {
  color: #ffffff;
}

.alink i {
  padding: 10px;
}

.content{
  padding: 16px;
  background-color: #ffffff;
}

.nav-list{
  padding: 10px;
  color: #ffffff;
}


